.idea/
src/.cache/
src/__pycache__/
src/monitor/data/
src/monitor/model/
src/utility/data/
src/utility/__pycache__/
src/utility/.ipynb_checkpoints/
*.pyc
*.o
src/luvcview/ToDo
src/utility/test
src/monitor/soilMonitor.log
src/utility/soilMonitor.log
src/takePictures/picture/
